    * {
        font-family: "Playfair Display", serif;

    }

    .mainpage {
        background-image: url("./public/background.avif");
        background-size: cover;
        background-repeat: no-repeat;
        height: 950px;
        width: 100%;
    }
    
     nav ul {
    
        display: flex;
        justify-content: space-around;
        padding: 10px;
        padding-left: 25px;
        margin-left: 30%;
        background-color: black;

    }

    nav ul li {
        list-style: none;
        padding-right: 20px;
        color: white;
        font-size: 20px;

    }
    nav ul li a{
        text-decoration: none;
        color: white;
    }
    nav ul li:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    
    .title {
        height: 150px;
        margin-top: 150px;
        padding-left: 200px;
        font-family: "Playfair Display", serif;
        color: white;

    }
    #title-quote{
        margin-top: 50px;
        margin-left: 200px;
    }
    #title-quote h3{
        width: 43%;
        margin-left: 40%;
    }
    #title-btn{
         padding: 12px 28px;
  background: #00e0ff;
  color: #000;
  box-shadow: 0 0 15px #00e0ff;
  border: none;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
        margin-left: 39%;
        
    }
    #title-button a{
        text-decoration: none;
        color: black;
    }
    #title-btn:hover{
        background: #00e0ff;
  color: #000;
  box-shadow: 0 0 15px #ffffff;
    }
    #title-button{
        margin-top: 100px;
    }
    
    .title h1,
    .title h2,
    .title u {
        font-family: "Edu QLD Hand", cursive;
    }

    .intro {
        margin-left: 24%;
        padding: 100px;
    }

    .card {
        width: 600px;
    }
    .card p{
        font-size: 18px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 20%;

    }

    .contact h4,
    .contact h5 {
        color: rgb(120, 120, 120);
    }

    .details {
        display: flex;
        margin-top: 70px;
        gap: 270px;
    }

    .footer {
        background-color: rgb(96, 96, 96);
        margin-bottom: 0;
        color: white;
    }

    .footer a {
        color: white;
    }
.prj{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
    .projects {
        display: flex;
        padding: 30px;
        justify-content: space-around;
        width: 90%;
    }
    .card{
        margin: 0 30px;
    }
    #me{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}   
#my-card{
    flex-direction: row;
}
   @media(max-width:1000px){
    nav {
        display: flex;
    }
    nav ul{
        margin: 10px auto;
    }
    .mainpage{
        background-position: center;
    }
    .title{
        margin-top: 200px;
    }
    .projects{
        flex-direction: column;
    }
   }
   @media(max-width:420px){
    .mainpage{
        width: 100%;
        background-position-x: 62%;
    }
    .title{
        padding-top: 400px;
        padding-left: 20px;
    }
    .projects{
        align-items: center;
    }
   .contact{
    margin-left: 14%;
   }
   }
